.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #267dff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.download-btn:hover {
    background: #145fda;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.modal-content h3 {
    color: #485b4d
}


.modal-content input {
    padding: 8px;
    width: 80%;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal-actions button {
    padding: 8px 16px;
    margin: 0 8px;
    border: none;
    background: #267dff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.modal-actions button:hover {
    background: #145fda;
}

.hidden {
    display: none;
}

#error-msg {
    color: red;
    font-size: 14px;
}

#download-list {
    margin-top: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#download-list ul {
    list-style: none;
    padding-left: 0;
}

#download-list li {
    margin: 6px 0;
}